# Pinata IPFS Configuration
# Get your JWT token from: https://app.pinata.cloud/developers/api-keys
NEXT_PUBLIC_PINATA_JWT=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySW5mb3JtYXRpb24iOnsiaWQiOiI1MTNjZGEyOS0yMWZlLTQ5ODMtODQyYy01YjJlNjg1OTliYzkiLCJlbWFpbCI6ImptYWxpbmdhcmF5QGdtYWlsLmNvbSIsImVtYWlsX3ZlcmlmaWVkIjp0cnVlLCJwaW5fcG9saWN5Ijp7InJlZ2lvbnMiOlt7ImRlc2lyZWRSZXBsaWNhdGlvbkNvdW50IjoxLCJpZCI6IkZSQTEifSx7ImRlc2lyZWRSZXBsaWNhdGlvbkNvdW50IjoxLCJpZCI6Ik5ZQzEifV0sInZlcnNpb24iOjF9LCJtZmFfZW5hYmxlZCI6ZmFsc2UsInN0YXR1cyI6IkFDVElWRSJ9LCJhdXRoZW50aWNhdGlvblR5cGUiOiJzY29wZWRLZXkiLCJzY29wZWRLZXlLZXkiOiI2ZTZmMzNlM2YxYmZkYjQ4ZmNjZSIsInNjb3BlZEtleVNlY3JldCI6ImYxNjRlZDJiOWFlMWNjY2NhMGUzMTc0MmRhMzA5YmE2MDM5Zjk2MTY1YTljYmEzYjkzNzVkZDYwYmViMjgyNTkiLCJleHAiOjE3OTQyNDk0NDV9.R8TnsySwOjSbB37GrN5nKX3RVWzFGM5pu4hGYVpkk7M

# Alternative: You can use API Key + Secret instead of JWT
# NEXT_PUBLIC_PINATA_API_KEY=6e6f33e3f1bfdb48fcce
# NEXT_PUBLIC_PINATA_SECRET_KEY=f164ed2b9ae1cccca0e31742da309ba6039f96165a9cba3b9375dd60beb28259

# Pinata Gateway Configuration
NEXT_PUBLIC_PINATA_GATEWAY_URL=https://gateway.pinata.cloud
NEXT_PUBLIC_PINATA_GATEWAY_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySW5mb3JtYXRpb24iOnsiaWQiOiI1MTNjZGEyOS0yMWZlLTQ5ODMtODQyYy01YjJlNjg1OTliYzkiLCJlbWFpbCI6ImptYWxpbmdhcmF5QGdtYWlsLmNvbSIsImVtYWlsX3ZlcmlmaWVkIjp0cnVlLCJwaW5fcG9saWN5Ijp7InJlZ2lvbnMiOlt7ImRlc2lyZWRSZXBsaWNhdGlvbkNvdW50IjoxLCJpZCI6IkZSQTEifSx7ImRlc2lyZWRSZXBsaWNhdGlvbkNvdW50IjoxLCJpZCI6Ik5ZQzEifV0sInZlcnNpb24iOjF9LCJtZmFfZW5hYmxlZCI6ZmFsc2UsInN0YXR1cyI6IkFDVElWRSJ9LCJhdXRoZW50aWNhdGlvblR5cGUiOiJzY29wZWRLZXkiLCJzY29wZWRLZXlLZXkiOiI2ZTZmMzNlM2YxYmZkYjQ4ZmNjZSIsInNjb3BlZEtleVNlY3JldCI6ImYxNjRlZDJiOWFlMWNjY2NhMGUzMTc0MmRhMzA5YmE2MDM5Zjk2MTY1YTljYmEzYjkzNzVkZDYwYmViMjgyNTkiLCJleHAiOjE3OTQyNDk0NDV9.R8TnsySwOjSbB37GrN5nKX3RVWzFGM5pu4hGYVpkk7M
